[submodule "actl-lib"]
	path = actl-lib
	url = git@github.com:felipecrp/actl-lib.git
	branch = .
[submodule "actl-api"]
	path = actl-api
	url = git@github.com:felipecrp/actl-api.git
	branch = .
[submodule "actl-web"]
	path = actl-web
	url = git@github.com:felipecrp/actl-web.git
	branch = main
